body{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 20px;
}

.grid-container {
  font-size:14px;
  margin:  0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  width: 1160px;
  background-color: white;
  padding: 10px;
}

.role-1 h1{
  padding-left: 38px;
}

.role-2 h1{
  padding-left: 38px;
}

.role-3 h1{
  padding-left: 38px;
}

.role-1 p,a{
  padding-left: 40px;
  padding-right: 50px;
}

.role-2 p,a{
  padding-left: 40px;
  padding-right: 50px;
}

.role-3 p,a{
  padding-left: 40px;
  padding-right: 50px;
}


.logo{
  float:left;
}

.banner{
  font-size:14px;
  border-image: 1px ;
  float:left;
  margin:5px;
  padding-bottom:40px;
  margin-top: 25px;
  margin-left: 25px;
  margin-left: 35px;
}

ul {
  font-size:14px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
    margin-left: 20px;
  margin-top: 40px;
}

li a {
    position: center;
    font-size:14px;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a{
  text-decoration: none;
}

.header{
  text-align: left;
  font-size: 13px;
  color: white;
  background-image: url(../img/banner_bg.png);
  grid-column: 1 / span 3;
}

.navbar{
  font-size:14px;
  padding:7px;
  background-image: url(../img/header_bg.png);
  background-color: white;
  grid-column: 1 / span 3;
  grid-row: 1;
}


.footer {

  background-image: url(../img/footer_bg.png);
  font-size:14px;
  color: white;
  grid-column: 1 / span 3;
  text-align: center;
}
